In [9]:
from FinMind.data import DataLoader

api = DataLoader()
api.login_by_token(api_token = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkYXRlIjoiMjAyMS0xMi0yNyAxNDo1OTowOSIsInVzZXJfaWQiOiJkdXJhbnQ3MTA5MTYiLCJpcCI6IjE0MC4xMjAuMTMuMjMwIn0.8-KIC3-OA4D6JcOtQ_fJBOVkyugx60t1Gy82c57TLz4")

stock_id = "2330"
start_date='2021-06-01'
end_date='2021-11-01'

# 股價日成交資訊
TaiwanStockPrice = api.taiwan_stock_daily(
    stock_id = stock_id,
    start_date = start_date,
    end_date = end_date
)

TaiwanStockPrice

,date,stock_id,Trading_Volume,Trading_money,open,max,min,close,spread,Trading_turnover
0,2021-06-01,2330,18405285,10985893229,598.0,599.0,595.0,598.0,1.0,20318
1,2021-06-02,2330,22416789,13362065937,600.0,600.0,593.0,595.0,-3.0,25170
2,2021-06-03,2330,31703679,18939839664,600.0,600.0,596.0,596.0,1.0,20749
3,2021-06-04,2330,16072580,9521252157,591.0,595.0,590.0,595.0,-1.0,19112
4,2021-06-07,2330,17729179,10471176330,594.0,595.0,583.0,592.0,-3.0,25364
...,...,...,...,...,...,...,...,...,...,...
101,2021-10-26,2330,27047187,16169131795,595.0,600.0,593.0,599.0,6.0,13081
102,2021-10-27,2330,16260278,9708715733,598.0,599.0,594.0,599.0,0.0,12042
103,2021-10-28,2330,16927154,10066068774,598.0,598.0,591.0,595.0,-4.0,15065
104,2021-10-29,2330,27684673,16352758906,595.0,596.0,589.0,590.0,-5.0,19937
105,2021-11-01,2330,17110357,10107402871,591.0,593.0,590.0,590.0,0.0,13798

In [7]:
# 融資融券表
TaiwanStockMarginPurchaseShortSale = api.taiwan_stock_margin_purchase_short_sale(
    stock_id = stock_id,
    start_date = start_date,
    end_date = end_date
)

TaiwanStockMarginPurchaseShortSale

,date,stock_id,MarginPurchaseBuy,MarginPurchaseCashRepayment,MarginPurchaseLimit,MarginPurchaseSell,MarginPurchaseTodayBalance,MarginPurchaseYesterdayBalance,Note,OffsetLoanAndShort,ShortSaleBuy,ShortSaleCashRepayment,ShortSaleLimit,ShortSaleSell,ShortSaleTodayBalance,ShortSaleYesterdayBalance
0,2021-06-01,2002,14949,21,3933715,20839,129121,135032,,306,249,8,3933715,471,9127,8913
1,2021-06-02,2002,68154,6,3933715,29827,167442,129121,,985,416,6,3933715,2823,11528,9127
2,2021-06-03,2002,30798,457,3933715,36467,161316,167442,,190,979,2,3933715,283,10830,11528
3,2021-06-04,2002,12513,172,3933715,27277,146380,161316,,376,916,583,3933715,411,9742,10830
4,2021-06-07,2002,8587,0,3933715,15300,139667,146380,,248,951,2,3933715,481,9270,9742
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,2021-10-26,2002,748,4,3933715,1477,92842,93575,,16,363,0,3933715,100,1460,1723
102,2021-10-27,2002,618,75,3933715,1037,92348,92842,,1,7,1,3933715,53,1505,1460
103,2021-10-28,2002,733,33,3933715,777,92271,92348,,2,247,0,3933715,43,1301,1505
104,2021-10-29,2002,446,56,3933715,1006,91655,92271,,27,241,0,3933715,33,1093,1301
105,2021-11-01,2002,1970,20,3933715,1981,91624,91655,,4,111,0,3933715,27,1009,1093

In [8]:
# 法人買賣表
TaiwanStockInstitutionalInvestorsBuySell = api.taiwan_stock_institutional_investors(
    stock_id = stock_id,
    start_date = start_date,
    end_date = end_date
)

TaiwanStockInstitutionalInvestorsBuySell

           date stock_id       buy                 name      sell
0    2021-06-01     2002  32823452     Foreign_Investor  40103339
1    2021-06-01     2002         0  Foreign_Dealer_Self         0
2    2021-06-01     2002    455000     Investment_Trust         0
3    2021-06-01     2002   2400000          Dealer_self   1540000
4    2021-06-01     2002   1421801       Dealer_Hedging   1983000
..          ...      ...       ...                  ...       ...
525  2021-11-01     2002  13487090     Foreign_Investor  11249797
526  2021-11-01     2002         0  Foreign_Dealer_Self         0
527  2021-11-01     2002     14000     Investment_Trust   4228000
528  2021-11-01     2002     49000          Dealer_self    254783
529  2021-11-01     2002     99000       Dealer_Hedging    300227

[530 rows x 5 columns]