In [2]:
import csv

In [3]:
stock_id = ['2330', '2603', '2002','1301', '2801']
strategy = ['SMA', 'KD', 'William', 'BBAND']
#trajectory_type = ['all', '50']
trajectory_type = ['all']

fee = 0.001425
tax = 0.003



for sid in stock_id:
    for s in strategy:
        for t in trajectory_type:
            with open("./data/Trajectory/Test/" + sid + "_" + s + "_trajectory_" + t + "_train.csv", 'r', encoding = 'utf8', newline = '') as csvFile:
                reader = csv.reader(csvFile)
                trajectory_list = [r for r in reader]

            MAX_ACCOUNT_BALANCE = 10000

            balance = MAX_ACCOUNT_BALANCE
            net_worth = MAX_ACCOUNT_BALANCE
            stock_num = 0
            stock_value = 0

            for trajectory in trajectory_list:
                if trajectory[1] == 'buy':
                    stock_num = int(balance / float(trajectory[2]))
                    stock_value = stock_num * float(trajectory[2])
                    balance = balance - stock_value - stock_value * fee
                    #print("Buy at", trajectory[2])
                    #print(balance+stock_value)
                    #print()
                elif trajectory[1] == 'sell':
                    stock_value = stock_num * float(trajectory[2])
                    balance = balance + stock_value - stock_value * (fee + tax)
                    stock_num = 0
                    stock_value = 0
                    #print("Sell at", trajectory[2])
                    #print(balance+stock_value)
                    #print()

            print(sid, s, t, balance+stock_value)

2330 SMA all 4473.576099999994
2330 SMA 50 264572.3085075
2330 KD all 226.36073125000277
2330 KD 50 5873942.893068748
2330 William all 23367.644556250016
2330 William 50 1732932.1541037506
2330 BBAND all 35442.052919999995
2330 BBAND 50 2556748.31676375
2603 SMA all 13125.060631250011
2603 SMA 50 818961.4186275001
2603 KD all 112.8607254999963
2603 KD 50 68363634.03490403
2603 William all 7153.00699625
2603 William 50 1692250.92385625
2603 BBAND all 3972.039434000006
2603 BBAND 50 4181591.6431197496
2002 SMA all 6615.176240000003
2002 SMA 50 109132.36204500009
2002 KD all 69.11278000001177
2002 KD 50 585956.6035125
2002 William all 4006.6693200000213
2002 William 50 471302.0884175001
2002 BBAND all 12199.863663750004
2002 BBAND 50 350058.54549875
1301 SMA all 3218.2822849999934
1301 SMA 50 108911.93700874996
1301 KD all 164.86562125001456
1301 KD 50 2698034.683546252
1301 William all 8061.893826249996
1301 William 50 580548.9071399997
1301 BBAND all 11801.118586250004
1301 BBAND 50 748367.68806375
2801 SMA all 6774.368908749997
2801 SMA 50 138396.20767999988
2801 KD all 255.80757649999984
2801 KD 50 5851136.238373745
2801 William all 3570.2836962499928
2801 William 50 908758.7153074996
2801 BBAND all 5524.1582362500085
2801 BBAND 50 585783.0570037501

In [93]:
import pandas as pd
import numpy as np
import math
import csv

from FinMind.data import DataLoader
import talib

from mplfinance.original_flavor import candlestick_ohlc
import matplotlib.dates as mpl_dates
import matplotlib.pyplot as plt

from datetime import datetime
from io import StringIO
import pprint as pp

In [95]:
api_token = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkYXRlIjoiMjAyMS0xMi0yNyAxNDo1OTowOSIsInVzZXJfaWQiOiJkdXJhbnQ3MTA5MTYiLCJpcCI6IjE0MC4xMjAuMTMuMjMwIn0.8-KIC3-OA4D6JcOtQ_fJBOVkyugx60t1Gy82c57TLz4"

api = DataLoader()
api.login_by_token(api_token = api_token)

# 設定股票標的和開始/結束日期
stock_id = "2881"
#stock_id = "2002"
#start_date='2011-12-05'
start_date='2012-11-14'
end_date='2020-12-31'

# 法人買賣表
TaiwanStockInstitutionalInvestorsBuySell = api.taiwan_stock_institutional_investors(
    stock_id = stock_id,
    start_date = start_date,
    end_date = end_date
)

TaiwanStockInstitutionalInvestorsBuySell

            date stock_id      buy                 name      sell
0     2012-11-14     2881  4579000     Foreign_Investor   6318000
1     2012-11-14     2881  1344000     Investment_Trust         0
2     2012-11-14     2881   213000               Dealer     84000
3     2012-11-15     2881  1689000     Foreign_Investor   6688117
4     2012-11-15     2881        0     Investment_Trust    378000
...          ...      ...      ...                  ...       ...
8233  2020-12-31     2881  8212000     Foreign_Investor  10266524
8234  2020-12-31     2881        0  Foreign_Dealer_Self         0
8235  2020-12-31     2881   112000     Investment_Trust     36000
8236  2020-12-31     2881    98000          Dealer_self    407000
8237  2020-12-31     2881   107000       Dealer_Hedging   1337000

[8238 rows x 5 columns]

In [99]:
Foreign_Investor = TaiwanStockInstitutionalInvestorsBuySell.loc[TaiwanStockInstitutionalInvestorsBuySell['date'] == '2020-12-31']
Foreign_Investor
#print(sum(Foreign_Investor['buy']))
#print(sum(Foreign_Investor['sell']))

            date stock_id      buy                 name      sell
8233  2020-12-31     2881  8212000     Foreign_Investor  10266524
8234  2020-12-31     2881        0  Foreign_Dealer_Self         0
8235  2020-12-31     2881   112000     Investment_Trust     36000
8236  2020-12-31     2881    98000          Dealer_self    407000
8237  2020-12-31     2881   107000       Dealer_Hedging   1337000

In [101]:
stock_id = "2330"
start_date='2013-01-01'
end_date='2020-12-31'

# 股價日成交資訊
df = api.taiwan_stock_daily(
    stock_id = stock_id,
    start_date = start_date,
    end_date = end_date
)

df

,date,stock_id,Trading_Volume,Trading_money,open,max,min,close,spread,Trading_turnover
0,2013-01-02,2330,40647121,4021304950,97.6,99.9,97.1,99.6,2.6,14353
1,2013-01-03,2330,44335846,4472175100,100.5,102.0,100.0,101.0,1.4,12616
2,2013-01-04,2330,39502577,3980403777,100.5,101.5,100.0,101.5,0.5,10276
3,2013-01-07,2330,42328657,4237769552,101.0,101.0,99.1,100.5,-1.0,9042
4,2013-01-08,2330,31218717,3100841808,99.6,100.0,98.9,99.7,-0.8,9463
...,...,...,...,...,...,...,...,...,...,...
1957,2020-12-25,2330,12581145,6449612552,514.0,515.0,510.0,511.0,1.0,14988
1958,2020-12-28,2330,19520886,10023145125,512.0,515.0,509.0,515.0,4.0,16675
1959,2020-12-29,2330,20226736,10409159045,515.0,517.0,513.0,515.0,0.0,17187
1960,2020-12-30,2330,46705107,24306881615,516.0,525.0,514.0,525.0,10.0,33173
1961,2020-12-31,2330,31173332,16437646054,526.0,530.0,524.0,530.0,5.0,25138